#backgroundImage {
  background-image: url("21.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: centers;
}
body{
  color: #666666;
  background-color: black;
  padding: 1em;
  margin: 0px;
}
header, footer, nav, div {
  display: block;
}
#align {
  text-align: center;
  padding-bottom: 50%;

}
  nav, footer {
    clear: both;
    color: #ffffff;
    background-color: black;
    height: 30px;}
    nav ul {
      text-align: center;
      margin: 0px;
      padding: 5px 5px;}
    nav li {
      display: inline;
      margin-right: 150px;}
    nav li a {
      color: #ffffff;}
    nav li a:hover, nav li a.current {
      color: #b45f5f;}
      a {
        color: #5d397a;
        text-decoration: none;}
     footer {
          font-size: 80%;
          text-align: center;
          padding: 7px 7px 7px 7px;}


