h1{
  color: rgb(53, 66, 136); 
  text-align: center;
  font-style: italic;
  font-weight: 300;

}
#boxexample {
  border-bottom: 5px solid;
  padding: 30px;
}
#page {background-color: rgb(117, 30, 30);
  color: rgb(36, 190, 183);
  padding: 1em;}
#mainNav {
  border-bottom: 1px solid black;
  padding: 10px;
}
#altsec {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}
a{
  padding-left: 50px;
  padding-right: 50px;
}
  a:link {color: blue; text-decoration: none;}
a:visited {color: rgb(114, 51, 82); text-decoration: none;}
a:hover {color: rgb(209, 186, 186); text-decoration: underline;}
a:active {color: rgb(55, 19, 90); text-decoration: none;}